html 
    visibility: hidden;

html.wf-active,
html.loading-delay 
    visibility: visible;

.topLogo 
    font-family: a-otf-ryumin-pr6n, serif; font-style: normal; 
    font-size: calc(250.5% + 4vw);

.kaguya 
    font-family: a-otf-ryumin-pr6n, serif; font-style: normal; 
    font-weight: 300;

.uk-logo
    font-size: calc(100% + 1.5vw); 
    font-family: a-otf-ryumin-pr6n, serif; font-style: normal; 
    font-weight: bolder; 
    color: #000000;

.largeText
    font-size: calc(120% + 0.8vw);

.badgeText 
    font-size: calc(80% + 0.5vw);
    background: #044182;