{% extends "base.html" %}
{% block title %}アカウントがロックされています - {{ block.super }}{% endblock %}
{% block content %}
<div class="uk-section uk-flex uk-flex-middle" uk-height-viewport>
	<div class="uk-width-1-1">
		<div class="uk-container">
			<div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
				<div class="uk-width-1-1@m">
					<div class="uk-margin uk-width-large uk-margin-auto">
                        <h1 class="kaguya uk-text-bold uk-text-center loginLogo uk-margin-bottom">かぐや</h1>
                        <p class="uk-text-center">
                            お使いのアカウントは、ロックされています。<br>管理者へご連絡ください。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}