<ul class="uk-pagination uk-flex-left uk-margin-large-left uk-visible@s">
    {% if pageObject.has_previous %}
        <li><a class="page-link text-primary d-inline-block" href="?q={{query}}&target={{target}}&page={{ pageObject.previous_page_number }}"><span uk-pagination-previous></span></a></li>
    {% else %}
        <li class="disabled"><div class=" disabled" href="#"><span uk-pagination-previous></span></div></li>
    {% endif %}

    {% for link_page in pageObject.paginator.page_range %}
        {% if link_page %}
            {% if link_page == pageObject.number %}
                <li class="uk-active"><div class="uk-active" href="#">{{ link_page }}</div></li>
            {% else %}
                <li><a class="" href="?q={{query}}&target={{target}}&page={{ link_page }}">{{ link_page }}</a></li>
            {% endif %}
        {% else %}
            <li class="disabled"><a class="" href="#"><span>...</span></a></li>
        {% endif %}
    {% endfor %}

    {% if pageObject.has_next %}
        <li><a class="" href="?q={{query}}&target={{target}}&page={{ pageObject.next_page_number }}"><span uk-pagination-next></span></a></li>
    {% else %}
        <li class="disabled"><div class="disabled" href="#"><span uk-pagination-next></span></div></li>
    {% endif %}
</ul>

<ul class="uk-pagination uk-flex-center uk-hidden@s">
    {% if pageObject.has_previous %}
        <li><a class="page-link text-primary d-inline-block" href="?q={{query}}&target={{target}}&page={{ pageObject.previous_page_number }}"><span uk-pagination-previous></span></a></li>
    {% else %}
        <li class="disabled"><div class=" disabled" href="#"><span uk-pagination-previous></span></div></li>
    {% endif %}

    {% for link_page in pageObject.paginator.page_range %}
        {% if link_page %}
            {% if link_page == pageObject.number %}
                <li class="uk-active"><div class="uk-active" href="#">{{ link_page }}</div></li>
            {% else %}
                <li><a class="" href="?q={{query}}&target={{target}}&page={{ link_page }}">{{ link_page }}</a></li>
            {% endif %}
        {% else %}
            <li class="disabled"><a class="" href="#"><span>...</span></a></li>
        {% endif %}
    {% endfor %}

    {% if pageObject.has_next %}
        <li><a class="" href="?q={{query}}&target={{target}}&page={{ pageObject.next_page_number }}"><span uk-pagination-next></span></a></li>
    {% else %}
        <li class="disabled"><div class="disabled" href="#"><span uk-pagination-next></span></div></li>
    {% endif %}
</ul>